@font-face {
    font-family: "dff6ae7a2978d569-s";
    src: url("../../../font/dff6ae7a2978d569-s.p.woff2");
}

@font-face {
    font-family: "mulish";
    src: url("../../../font/mulish-v11-latin-regular.woff2");
}

.content-about {
    width: 100%;
    height: 70vh;
    color: #BCBCBC;
}

.text-about {
    padding: 5vw 15vw;
}

.text-about span {
    font-family: "mulish";
    font-size: 1.8vw;
    display: block;
    margin-top: 5px;
    overflow: hidden;
}

.text-about button {
    border: none;
    padding: 1.4rem 4rem;
    margin-top: 2vw;
    border-radius: 50px;
    font-size: 1rem;
    background-color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    color: #BCBCBC;
}

.text-about button span {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 20px;
    background-color: #C2E9FB;
    border-radius: 50%;
}