@font-face {
    font-family: "dff6ae7a2978d569-s";
    src: url("../../../font/dff6ae7a2978d569-s.p.woff2");
}

@font-face {
    font-family: "mulish-v11-latin-regular";
    src: url("../../../font/mulish-v11-latin-regular.woff2");
}

@font-face {
    font-family: "teste";
    src: url("../../../font/coign-37-bold-pro.woff2");
}

.container-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}
.content-wrapper {
    position: relative;
    top: -15%;
    width: 100%;
    height: 100%;
}

.wrapper-title {
    width: 100%;
    height: 100%;
}
.wrapper-title p {
   font-family: "dff6ae7a2978d569-s";
   font-size: 25vw;
   text-wrap: nowrap;
   position: absolute;
   bottom: 0;
}
.wrapper-title span {
  
}






