@font-face {
    font-family: "dff6ae7a2978d569-s";
    src: url("../../font/dff6ae7a2978d569-s.p.woff2");
}

@font-face {
    font-family: "mulish";
    src: url("../../font/mulish-v11-latin-regular.woff2");
}

footer {
    width: 100%;
    height: 120vh;
    background-color: #A95F3E;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
}

.footer-text {
    width: 100%;
    height: 100%;
}

.footer-text h1 {
    overflow: hidden;
    font-size: 25vw;
    line-height: 25vw;
    font-family: "dff6ae7a2978d569-s";
    text-transform: uppercase;
    color: #FFF;
    text-wrap: nowrap;
}
.content-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text button {
    padding: 1.4rem 4rem;
    border-radius: 50px;
    border: none;

    background-color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-text button a {
    text-decoration: none;
    color: #FFF;
}

.footer-text button span {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 20px;
    background-color: #C2E9FB;
    border-radius: 50%;
    transition: 300ms ease-in-out;
}

.footer-text button:hover span {
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 30px;
    transition: 300ms ease-in-out;

}

.footer-text button:hover a {
    color: #000000;
    position: relative;
    transition-delay: 250ms;
}

.links {
    font-family: "mulish";
    display: flex;
    justify-content: space-between;
    padding: 2vw 4vw;
    background-color: #A95F3E;
    color: #000000;
    font-weight: 900;
    width: 100%;
    position: relative;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.links ul li a {
    color: #FFF;
    text-decoration: none;
    display: flex;
    gap: 10px;
    font-weight: 900;
}