.container-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-card {
    width: 100%;
    height: 100%;
}

.container-card section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-card {
    padding-bottom: 15vw;
    display: flex;
    justify-content: center;
}

.footer-card button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-card button span {
    font-family: "mulish";
    font-size: 1.8vw;
}

.footer-card button {
    border: none;
    padding: 1.4rem 4rem;
    border-radius: 50px;
    font-size: 1rem;
    background-color: #000000;
    position: relative;
    display: flex;
    align-items: center;
}

.footer-card button span {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 20px;
    background-color: #C2E9FB;
    border-radius: 50%;
}

.card.scroll {
    position: relative;
}

.img {
    max-width: 100%;
    width: 1500px;
    height: 670px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}


@media screen and (max-width: 1400px) {
    .img {
        width: 1000px;
        height: auto;
        background-color: red;
    }
}